@import "tailwindcss";



body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  text-align: left;
  background-color: #fff;
}
.border, .border-r, .border-b{
   border: 0.5px solid #6c757d50;
}
.border-tag{
  border: 1px solid #194376
}
.border-sosmed-footer{
  
  border: 1px solid #fff
}
.container{
  padding-left: 2rem;
  padding-right: 2rem;
    width: 100%;
    margin: 0, 0,0,0 !important;
  }
  .owl-stage-outer {
  overflow: visible !important;
}


/* btn to top */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.btn-up {
  cursor: pointer;
  animation: bounce 2s infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
